*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #323232;
}

/* Constants  */
.pheading{
    font-size: 4rem;
    font-weight: 600;
    margin: 2rem 0;
    color: #FFFFFF;
}

.subheading{
    color: #FFFFFF;
    font-size: 1.8rem;

}


.plus-icon{
    color: #FFFFFF;
    margin-left: .5rem;
    font-weight: 700;
}

.themecolor{
   color: #B49C73;
}

.ppara{
    font-size: 1.4rem;
    color: rgb(174, 167, 167);
    margin: 2rem 0;
}

.pbtn{
    color: #FFFFFF;
    background-color: #B49C73;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 12rem;
}
.pbtn:hover{
    background-color: #a48e69;
}

/* Navbar Section  */
#Navbar{
    display: flex;
    flex-direction: row;
    
}
#Navbar-Section{
    height: 100vh;
}
#Navbar-Section::before{
    content: "";
    background: url('images/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 99vw;
    height: 100vh;
    opacity: .9;
    filter: brightness(50%);
}
#nav-right{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
}
#nav-left{
    width: 30%;
    margin-left: 5rem;
}

#nav-list{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    list-style: none;
}
.nav-item{
    margin: 0 2.5rem;
    cursor: pointer;
}
.nav-item:hover{
   color: #B49C73;
}
#logo{
    height: 6rem;
   
}

#mobile-nav{
    text-align: center;
}
#mobile-list{
    list-style: none;
    color: #FFFFFF;
    font-size: 2rem;
    width: 100%;
}

.mobile-nav-item:hover{
    cursor: pointer;
    color: #B49C73;
    padding: .5rem;
}

.mobile-nav-item{
    background-color: #323232;
    margin: auto;
    width: 100%;
    padding: .5rem;
}

.hamburger-icon{
    text-align: right;
    margin: 2rem;
}
.menu-icon{
    font-size: 3rem;
}


/* Banner Section  */
#banner-right{
    display: block;
    width: 50%;
   
    float: right;
    margin-right: 5rem;
    margin-top: 5rem;
    color: #FFFFFF;
}

.Practice-Area-Section{
    background-color: red;
    padding: 1rem;
}

/* Our Practice Areas Section  */

#practice-area{
    display: flex;
    flex-direction: row;
    padding: 5rem;
   
}

.sec-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5rem;
}

/* Experience Section  */

#experience{
    display: flex;
    flex-direction: row;
    padding: 5rem;
}
.sec-start{
    width: 30%;
}

.sec-end{
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.box{
  width: 100%;
}

/* Expertise Section  */

#expertise{
    padding: 5rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flexbox{
    background-color: #FFFFFF;
    margin: 1rem;
    padding: 3rem;
    border-radius: .6rem;
    height: 45vh;
    cursor: pointer;

}

/* Contact Section  */
#Contact-Section::before{
    content: "";
    background: url('images/bg.jpg') no-repeat center center/cover;
    position: absolute;
    /* top: 0px; */
    left: 0px;
    z-index: -1;
    width: 99vw;
    height: 40vh;
    opacity: .9;
    filter: brightness(50%);
}

#contact{
    text-align: center;
    justify-content: center;
  
    padding: 5rem;
}

/* Signp-Section */

#signup{
    padding: 5rem;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    grid-gap: 1rem;
}
.input-box{
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    border-radius: .7rem;
}

/* Footer Section  */

#Footer-Section{
    padding: 10rem;
    text-align: center;
}

#footer{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    
}

.footer-box{
    width: 25%;
    text-align: start;
}

.footer-heading{
   color: #FFFFFF;
   font-size: 2.5rem;
   margin: 2rem;
}

.footer-subheading{
    font-size: 1.8rem;
    color: #B49C73;
    font-weight: 300;
    cursor: pointer;
    margin: 2rem;
}

.footer-subheading:hover {
    text-decoration: underline #b49c73 0.1em;
    text-underline-offset: .3em;
}

#sicons{
    display: flex;
    flex-direction: row;
}
.sicon{
    padding: 0 1rem;
}
.sicon:hover{
    text-decoration: underline #b49c73 .1em;
    text-underline-offset: .3em;
    cursor: pointer;
}